# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

*.swp
*.jar

# Directories
*/bin/*
.vscode/*

# Blacklisted files
config.json
.settings
app/.classpath
app/.project
*-config.json